#link{
   font-size: 20px;
   color: blueviolet;
   text-decoration: none;
}

#imagem-jimin{
   width: 300px;
   border:dotted 2px black;
}

.principal{
 background-color:darkblue;
 color:cornflowerblue;
}
 
.rodape{
   background-color: bisque;
   color:cadetblue;
   text-align: center;
}